* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-dark);

    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

